<a href="https://colab.research.google.com/github/Gail529/Recommendation-system/blob/master/Cosine_Similarity_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
data=pd.read_csv('/content/rock_emotion_scores.csv')

In [ ]:
song_df=data[['song-title','Positive','Negative','Anger','Anticipation','Disgust','Fear','Joy','Sadness','Surprise','Trust']]

In [ ]:
song_df.reset_index()

     index                      song-title  Positive  ...  Sadness  Surprise  Trust
0        0                          Yellow        14  ...        0         0      2
1        1                    Viva La Vida        27  ...        6         3     17
2        2                     In My Place         8  ...       11         1      8
3        3  God Put A Smile Upon Your Face        24  ...        3        15     18
4        4               Princess of China         6  ...       11         0      2
..     ...                             ...       ...  ...      ...       ...    ...
175    175      Stay Frosty Royal Milk Tea         8  ...        9         1      1
176    176                        Champion        27  ...        2         6     19
177    177       The Last of the Real Ones        39  ...        4         2     31
178    178          HOLD ME TIGHT OR DON'T         8  ...        4         3      5
179    179     Wilson (Expensive Mistakes)        10  ...       18         3      5

[180 rows x 12 columns]

In [ ]:
scores_df=song_df[['Positive','Negative','Anger','Anticipation','Disgust','Fear','Joy','Sadness','Surprise','Trust']]
cosine_sim=cosine_similarity(scores_df,scores_df)
cosine_sim.shape

(180, 180)

In [ ]:
cosine_sim[3]

array([0.78694708, 0.87138025, 0.7091316 , 1.        , 0.49688701,
       0.52098807, 0.43130382, 0.8229792 , 0.81309243, 0.47448688,
       0.80330076, 0.79701038, 0.88594027, 0.85416664, 0.68806186,
       0.8787791 , 0.82534827, 0.80364075, 0.87419676, 0.73146637,
       0.4192225 , 0.92869485, 0.71333045, 0.77635473, 0.66778827,
       0.92609413, 0.80875295, 0.82903694, 0.95600621, 0.73573475,
       0.55259252, 0.6733353 , 0.51930067, 0.84540911, 0.90711718,
       0.88704637, 0.59267997, 0.60586994, 0.84247812, 0.93586938,
       0.78730191, 0.85431698, 0.92769347, 0.94208538, 0.98846456,
       0.63513226, 0.88214032, 0.78153136, 0.7803528 , 0.7324209 ,
       0.92483497, 0.16173849, 0.49596074, 0.92039317, 0.94622386,
       0.54498213, 0.81100345, 0.75388942, 0.6154028 , 0.82285714,
       0.62933979, 0.72247553, 0.72326841, 0.6000983 , 0.65843837,
       0.83997829, 0.83480228, 0.76311409, 0.77695144, 0.63514193,
       0.85860521, 0.65624009, 0.39052571, 0.36612703, 0.91282279,
       0.68368259, 0.59611238, 0.20505529, 0.31112698, 0.81522863,
       0.96762846, 0.8740933 , 0.79971808, 0.46158635, 0.82864016,
       0.82864016, 0.96762846, 0.56497554, 0.48113305, 0.7359017 ,
       0.80063544, 0.45011165, 0.74611722, 0.77419486, 0.79245028,
       0.74348786, 0.65591327, 0.59393668, 0.82167722, 0.81165072,
       0.94500296, 0.54562707, 0.82004432, 0.85986918, 0.36307906,
       0.63564228, 0.7878386 , 0.38514125, 0.49180954, 0.70998504,
       0.83053428, 0.92927021, 0.78796137, 0.96286853, 0.94500296,
       0.77345955, 0.68107314, 0.66670177, 0.5413463 , 0.81608329,
       0.51695213, 0.83358446, 0.74853473, 0.77655523, 0.80004082,
       0.80075472, 0.67901753, 0.24081775, 0.41816828, 0.75265163,
       0.71044068, 0.35231979, 0.59705242, 0.67652574, 0.4418161 ,
       0.85964805, 0.69098151, 0.96444563, 0.70985871, 0.82006279,
       0.66146587, 0.53330357, 0.67389147, 0.52894875, 0.8051255 ,
       0.9199776 , 0.88529673, 0.50320516, 0.68885344, 0.79646486,
       0.80513151, 0.50609699, 0.9211311 , 0.84380175, 0.64775367,
       0.81827692, 0.86672084, 0.75078666, 0.75610042, 0.83459211,
       0.50334705, 0.85860004, 0.79014508, 0.43296146, 0.8721203 ,
       0.96390303, 0.73865276, 0.62590023, 0.83876303, 0.79080641,
       0.80425075, 0.98649416, 0.77681905, 0.92440737, 0.8860272 ,
       0.32615914, 0.94839546, 0.89405811, 0.8860272 , 0.50414373])

In [ ]:
indices=pd.Series(song_df.index, song_df['song-title']).drop_duplicates()

In [ ]:
indices[:5]

song-title
Yellow                            0
Viva La Vida                      1
In My Place                       2
God Put A Smile Upon Your Face    3
Princess of China                 4
dtype: int64

In [ ]:
def get_recommendations(title,cosine_sim=cosine_sim):
    index=indices[title]
    sim_scores = list(enumerate(cosine_sim[index]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    song_indices = [i[0] for i in sim_scores]
    return song_df['song-title'].iloc[song_indices]

In [ ]:
get_recommendations('Yellow')

13                 A Sky Full of Stars
81                      Hands All Over
92                                Maps
168    American Beauty/American Psycho
112                                Joy
157                     Love Me Better
150                           Paradise
41                        Made for You
42                 All the Right Moves
162                          Immortals
Name: song-title, dtype: object

In [ ]:
get_recommendations('In My Place')

125              Snakes
119           The Waves
10        The Scientist
56       Shut Your Eyes
153      Make Me Better
133        The Currents
159    Thnks Fr Th Mmrs
76            It's Time
53     Chocolate [Live]
33         In Your Arms
Name: song-title, dtype: object

In [ ]:
get_recommendations('Irresistible [Remix]')

79                           Memories
90                     One More Night
11                            Up & Up
174            HOLD ME TIGHT OR DON'T
178            HOLD ME TIGHT OR DON'T
155                    Lose My Number
121                             Haunt
93                  She Will Be Loved
15     Adventure Of A Lifetime [Live]
138                    Always Hate Me
Name: song-title, dtype: object