<a href="https://colab.research.google.com/github/Gail529/Recommendation-system/blob/master/preprocessing_lyrics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#preprocessing the lyrics data
import pandas as pd
import numpy as np
import nltk
nltk.download('punkt')
nltk.download('stopwords')
import re 
import string
from nltk.stem import PorterStemmer 
from nltk.tokenize import word_tokenize,sent_tokenize
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
 
one_Re=pd.read_csv('/content/ORlyrics.csv',header=None)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

In [13]:
one_Re

                                                    0                                                  1
0                                      Counting Stars  [['Lately', 'I', 'been', ',', 'I', 'been', 'lo...
1                                    If I Lose Myself  [['I', 'stared', 'up', 'at', 'the', 'sun', 'Th...
2                                          Feel Again  [['It', "'s", 'been', 'a', 'long', 'time', 'co...
3                                             I Lived  [['Hoping', 'you', 'take', 'that', 'jump', 'Bu...
4                                            Preacher  [['When', 'I', 'was', 'a', 'kid', ',', 'I', 'u...
5                                             Secrets  [['I', 'need', 'another', 'story', 'Something'...
6                                        Made for You  [['One', 'and', 'two', 'and', 'three', 'and', ...
7                                 All the Right Moves  [['(', 'All', 'the', 'right', 'friends', 'in',...
8                                  Everybody Loves Me  [['Well', 'hell', 'sees', 'her', 'shadow', 'in...
9                                           Good Life  [['Woke', 'up', 'in', 'London', 'yesterday', '...
10                                          Waking Up  [['I', 'found', 'variety', 'On', 'Nolan', "'s"...
11  Mercy [Duffy Cover; Radio 1 Live Lounge Sessio...  [['Angel', 'of', 'mercy', 'How', 'did', 'you',...
12                                        Marchin' On  [['For', 'those', 'days', 'we', 'felt', 'like'...
13                                      Wherever I Go  [['I', 'know', 'I', 'could', 'lie', 'but', 'I'...
14                                               Kids  [['Days', 'when', 'We', "'d", 'fight', ',', 'w...

In [15]:
for i in range(0,14):
    rows=one_Re.iloc[i,0]
    print(rows)

Counting Stars
If I Lose Myself
Feel Again
I Lived
Preacher
Secrets
Made for You
All the Right Moves
Everybody Loves Me
Good Life
Waking Up
Mercy [Duffy Cover; Radio 1 Live Lounge Session; Bonus Track]
Marchin' On
Wherever I Go

In [52]:
#preprocessing all the songs
for i in range(0,14):
    song=one_Re.iloc[i,1]
    text=re.sub(r'\d+','',song)#removing numbers
    #lowercasing
    text_lower=text.lower()
    #punctuation removal 
    def  remove_punctuation(word): #function will take in the lowercased text and then remove all the punctuation
        translator=str.maketrans('','',string.punctuation)
        text_punct=word.translate(translator)
        return text_punct
    result=remove_punctuation(text_lower) #storing the resulting body of  text in variable result
    #removing stopwords 
    def remove_stopwords(word):#The function will   tokenize the result and then filter off  the stop_words 
        stop_words=set(stopwords.words("english")) 
        word_tokens= word_tokenize(word)
        result=[word for word in word_tokens if word not in stop_words ]
        return result
    lyrics=[remove_stopwords(result)]
    #replacing the values of the lyrics column in the dataframe with the  preprocessed  lyrics
    one_Re.iat[i,1]=lyrics

In [53]:
one_Re

                                                    0                                                  1
0                                      Counting Stars  [[lately, losing, sleep, dreaming, things, cou...
1                                    If I Lose Myself  [[stared, sun, thought, people, places, things...
2                                          Feel Again  [[long, time, coming, since, seen, face, every...
3                                             I Lived  [[hoping, take, jump, nt, fear, fall, hope, wa...
4                                            Preacher  [[kid, used, buy, sell, gravity, knew, fly, wo...
5                                             Secrets  [[need, another, story, something, get, chest,...
6                                        Made for You  [[one, two, three, four, one, two, three, four...
7                                 All the Right Moves  [[right, friends, right, places, yeah, going, ...
8                                  Everybody Loves Me  [[well, hell, sees, shadow, backseat, friends,...
9                                           Good Life  [[woke, london, yesterday, found, city, near, ...
10                                          Waking Up  [[found, variety, nolan, avenue, air, thick, l...
11  Mercy [Duffy Cover; Radio 1 Live Lounge Sessio...  [[angel, mercy, find, read, story, pulled, pap...
12                                        Marchin' On  [[days, felt, like, mistake, times, loves, hat...
13                                      Wherever I Go  [[know, could, lie, telling, truth, wherever, ...
14                                               Kids  [['Days', 'when', 'We', "'d", 'fight', ',', 'w...

In [56]:
cp=pd.read_csv('/content/CPlyrics.csv',header=None)
id=pd.read_csv('/content/IDlyrics.csv',header=None)
fb=pd.read_csv('/content/FBlyrics.csv',header=None)
jb=pd.read_csv('/content/JBlyrics.csv',header=None)
m=pd.read_csv('/content/Mlyrics.csv',header=None)
sp=pd.read_csv('/content/SPlyrics.csv',header=None)
xa=pd.read_csv('/content/XAlyrics.csv',header=None)

In [27]:
xa.shape

(19, 2)

In [57]:
#preprocessing all the songs
for i in range(0,18):
    song=xa.iloc[i,1]
    text=re.sub(r'\d+','',song)#removing numbers
    #lowercasing
    text_lower=text.lower()

    #punctuation removal 
    def  remove_punctuation(word): #function will take in the lowercased text and then remove all the punctuation
        translator=str.maketrans('','',string.punctuation)
        text_punct=word.translate(translator)
        return text_punct
    result=remove_punctuation(text_lower) #storing the resulting body of  text in variable result

    #removing stopwords 
    def remove_stopwords(word):#The function will   tokenize the result and then filter off  the stop_words 
        stop_words=set(stopwords.words("english")) 
        word_tokens= word_tokenize(word)
        result=[ word for word in word_tokens if word not in stop_words ]
        return result

    lyrics=remove_stopwords(result)
    #replacing the values of the lyrics column in the dataframe with the  preprocessed  lyrics
    xa.iat[i,1]=lyrics

In [60]:
xa

                                     0                                                  1
0                               Litost  [done, heart, floor, must, mind, come, back, b...
1                               Jungle  [yeah, yeah, yeah, well, long, living, old, li...
2                              Shining  [everything, changed, everything, changed, pou...
3   Ahead Of Myself [The Knocks Remix]  [time, get, ahead, yeah, time, get, ahead, yea...
4                            Renegades  [run, away, lost, souls, reverie, running, wil...
5                               Joyful  [doctors, notes, swinging, votes, ca, nt, deci...
6                           Don't Stay  [lately, thinking, seen, worst, seen, gave, ev...
7                            WASTELAND  [settle, old, town, ego, settle, debts, dear, ...
8                              SHADOWS  [could, spend, lifetime, lookin, something, wa...
9             I DON'T KNOW HOW TO PRAY  [nt, know, pray, bathroom, hopin, come, back, ...
10                             HISTORY  [said, piece, said, left, say, still, blood, c...
11                                RULE  [ca, nt, get, grip, feeling, like, always, los...
12                           QUICKSAND  [woah, oh, woah, oh, woah, oh, woah, oh, mama,...
13                          CONFIDENCE  [make, lose, confidence, yeah, make, lose, con...
14                       HOLD YOU DOWN  [last, ones, dancing, lights, go, one, hold, s...
15                          Baptize Me  [cutting, ties, wo, nt, baptize, cause, life, ...
16                                BOOM  [feet, go, boom, boom, boom, boom, boom, boom,...
17                        In Your Arms  [never, seen, mona, lisa, close, seen, perfect...
18                           HEY CHILD  [['I', 'heard', 'you', 'got', 'arrested', 'in'...

In [61]:
cp

                                 0                                                  1
0                           Yellow  [[look, stars, look, shine, everything, yeah, ...
1                     Viva La Vida  [[used, rule, world, seas, would, rise, gave, ...
2                      In My Place  [[place, place, lines, could, nt, change, lost...
3   God Put A Smile Upon Your Face  [[go, nobody, knows, got, ta, say, way, god, g...
4                Princess of China  [[oh, upon, time, somebody, ran, somebody, ran...
5                     Up in Flames  [[time, know, gone, salt, water, tasted, long,...
6                    Charlie Brown  [[stole, key, took, car, downtown, lost, boys,...
7                         Paradise  [[girl, expected, world, flew, away, reach, ra...
8             Us Against the World  [[oh, morning, come, bursting, clouds, amen, l...
9                           Clocks  [[lights, go, ca, nt, saved, tides, tried, swi...
10                   The Scientist  [[come, meet, tell, sorry, nt, know, lovely, f...
11                         Up & Up  [[fixing, car, drive, searching, water, hoping...
12        Something Just Like This  [[reading, books, old, legends, myths, achille...
13             A Sky Full of Stars  [[cause, sky, cause, sky, full, stars, gon, na...
14   Every Teardrop is a Waterfall  [['I', 'turn', 'the', 'music', 'up', ',', 'I',...
15  Adventure Of A Lifetime [Live]  [['Turn', 'your', 'magic', 'on', ',', 'to', 'm...

In [59]:
for i in range(0,14):
    song=cp.iloc[i,1]
    text=re.sub(r'\d+','',song)#removing numbers


    #lowercasing
    text_lower=text.lower()

    #punctuation removal 
    def  remove_punctuation(word): #function will take in the lowercased text and then remove all the punctuation
        translator=str.maketrans('','',string.punctuation)
        text_punct=word.translate(translator)
        return text_punct
    result=remove_punctuation(text_lower) #storing the resulting body of  text in variable result

    #removing stopwords 
    def remove_stopwords(word):#The function will   tokenize the result and then filter off  the stop_words 
        stop_words=set(stopwords.words("english")) 
        word_tokens= word_tokenize(word)
        result=[ word for word in word_tokens if word not in stop_words ]
        return result
    lyrics=[remove_stopwords(result)]
    #replacing the values of the lyrics column in the dataframe with the  preprocessed  lyrics
    cp.iat[i,1]=lyrics

In [64]:
fb

                                  0                                                  1
0                  Thnks Fr Th Mmrs  [[gon, na, make, bend, break, sent, without, w...
1                    Fourth of July  [[fire, fire, fire, fire, fire, listening, fou...
2                   Favorite Record  [[dodo, remember, drove, drove, drove, night, ...
3                         Immortals  [[say, nt, bad, behavior, best, way, watcher, ...
4                 Novocaine [Remix]  [[took, love, filled, filled, novocaine, numb,...
5                    Jet Pack Blues  [[know, heard, got, nominated, wo, nt, walk, r...
6                       Uma Thurman  [[already, wants, dance, like, uma, thurman, b...
7           The Kids Aren't Alright  [[break, let, tell, get, uh, run, town, number...
8                         Centuries  [[remix, legendary, juicy, j, let, go, bread, ...
9   American Beauty/American Psycho  [[american, beauty, american, psycho, american...
10             Irresistible [Remix]  [[count, unannounced, drag, nails, tile, follo...
11                 Young And Menace  [[gone, way, fast, way, long, never, supposed,...
12                 Sunshine Riptide  [[nt, even, attention, say, please, nt, ever, ...
13                    Heaven's Gate  [[one, look, faded, love, body, flying, left, ...
14                           Church  [[church, get, knees, confess, love, know, san...
15           HOLD ME TIGHT OR DON'T  [[oh, na, na, na, na, na, na, na, na, never, r...
16       Stay Frosty Royal Milk Tea  [[think, got, many, memories, getting, way, bo...
17                         Champion  [[champion, champion, calling, future, let, kn...
18        The Last of the Real Ones  [[child, universe, found, found, sun, planets,...
19           HOLD ME TIGHT OR DON'T  [[oh, na, na, na, na, na, na, na, na, never, r...
20      Wilson (Expensive Mistakes)  [['I', 'was', 'I', 'was', 'I', 'was', 'Gon', '...

In [62]:
#preprocessing all the songs
for i in range(0,20):
    song=fb.iloc[i,1]
    text=re.sub(r'\d+','',song)#removing numbers


    #lowercasing
    text_lower=text.lower()

    #punctuation removal 
    def  remove_punctuation(word): #function will take in the lowercased text and then remove all the punctuation
        translator=str.maketrans('','',string.punctuation)
        text_punct=word.translate(translator)
        return text_punct
    result=remove_punctuation(text_lower) #storing the resulting body of  text in variable result

    #removing stopwords 
    def remove_stopwords(word):#The function will   tokenize the result and then filter off  the stop_words 
        stop_words=set(stopwords.words("english")) 
        word_tokens= word_tokenize(word)
        result=[ word for word in word_tokens if word not in stop_words ]
        return result
    lyrics=[remove_stopwords(result)]
    #replacing the values of the lyrics column in the dataframe with the  preprocessed  lyrics
    fb.iat[i,1]=lyrics

In [15]:
sp.shape

(14, 2)

In [67]:
sp.head()

                                      0                                                  1
0                          Just Say Yes  [[running, ways, make, see, want, stay, beside...
1                 Open Your Eyes [Live]  [[feels, strange, untrue, wo, nt, waste, minut...
2              You're All I Have [Live]  [[train, chaos, turn, light, got, ta, see, one...
3                      Chocolate [Live]  [[could, minute, aware, alive, places, feel, l...
4  Set the Fire to the Third Bar [Live]  [[find, map, draw, straight, line, rivers, far...

In [66]:
#preprocessing all the songs
for i in range(0,13):
    song=sp.iloc[i,1]
    text=re.sub(r'\d+','',song)#removing numbers


    #lowercasing
    text_lower=text.lower()

    #punctuation removal 
    def  remove_punctuation(word): #function will take in the lowercased text and then remove all the punctuation
        translator=str.maketrans('','',string.punctuation)
        text_punct=word.translate(translator)
        return text_punct
    result=remove_punctuation(text_lower) #storing the resulting body of  text in variable result

    #removing stopwords 
    def remove_stopwords(word):#The function will   tokenize the result and then filter off  the stop_words 
        stop_words=set(stopwords.words("english")) 
        word_tokens= word_tokenize(word)
        result=[ word for word in word_tokens if word not in stop_words ]
        return result
    lyrics=[remove_stopwords(result)]
    #replacing the values of the lyrics column in the dataframe with the  preprocessed  lyrics
    sp.iat[i,1]=lyrics

In [69]:
id.head()

                   0                                                  1
0           Believer  [[first, things, first, ima, say, words, insid...
1   I Don't Know Why  [[could, strangers, night, could, passing, sha...
2         Next To Me  [[something, way, walked, living, room, casual...
3  Whatever It Takes  [[falling, fast, prepare, tripping, world, cou...
4   Walking The Wire  [[feel, away, know, line, walk, could, turn, a...

In [68]:
#preprocessing all the songs
for i in range(0,14):
    song=id.iloc[i,1]
    text=re.sub(r'\d+','',song)#removing numbers
    #lowercasing
    text_lower=text.lower()

    #punctuation removal 
    def  remove_punctuation(word): #function will take in the lowercased text and then remove all the punctuation
        translator=str.maketrans('','',string.punctuation)
        text_punct=word.translate(translator)
        return text_punct
    result=remove_punctuation(text_lower) #storing the resulting body of  text in variable result

    #removing stopwords 
    def remove_stopwords(word):#The function will   tokenize the result and then filter off  the stop_words 
        stop_words=set(stopwords.words("english")) 
        word_tokens= word_tokenize(word)
        result=[ word for word in word_tokens if word not in stop_words ]
        return result
    lyrics=[remove_stopwords(result)]
    #replacing the values of the lyrics column in the dataframe with the  preprocessed  lyrics
    id.iat[i,1]=lyrics

In [71]:
jb.head()

                0                                                  1
0   Bonfire Heart  [[mouth, revolver, firing, bullets, sky, love,...
1    Blue on Blue  [[come, nt, wan, na, see, come, gone, left, al...
2       Postcards  [[sundays, sitting, back, porch, came, couple,...
3  Always Hate Me  [[oh, god, hurt, moment, saw, someone, else, o...
4           Bones  [[never, beautiful, boy, never, liked, sound, ...

In [22]:
jb.shape

(24, 2)

In [70]:
#preprocessing all the songs
for i in range(0,23):
    song=jb.iloc[i,1]
    text=re.sub(r'\d+','',song)#removing numbers
    #lowercasing
    text_lower=text.lower()

    #punctuation removal 
    def  remove_punctuation(word): #function will take in the lowercased text and then remove all the punctuation
        translator=str.maketrans('','',string.punctuation)
        text_punct=word.translate(translator)
        return text_punct
    result=remove_punctuation(text_lower) #storing the resulting body of  text in variable result

    #removing stopwords 
    def remove_stopwords(word):#The function will   tokenize the result and then filter off  the stop_words 
        stop_words=set(stopwords.words("english")) 
        word_tokens= word_tokenize(word)
        result=[ word for word in word_tokens if word not in stop_words ]
        return result
    lyrics=[remove_stopwords(result)]
    #replacing the values of the lyrics column in the dataframe with the  preprocessed  lyrics
    jb.iat[i,1]=lyrics

In [73]:
m.head()

                    0                                                  1
0            Memories  [[ones, got, cheers, wish, cause, drinks, brin...
1   Moves Like Jagger  [[shoot, stars, feels, right, aim, heart, feel...
2      Hands All Over  [[put, hands, put, hands, put, hands, put, han...
3  Give a Little More  [[bad, goes, til, come, home, babe, til, come,...
4              Misery  [[oh, yeah, oh, yeah, scared, breaking, wo, nt...

In [72]:
#preprocessing all the songs
for i in range(0,20):
    song=m.iloc[i,1]
    text=re.sub(r'\d+','',song)#removing numbers
    #lowercasing
    text_lower=text.lower()

    #punctuation removal 
    def  remove_punctuation(word): #function will take in the lowercased text and then remove all the punctuation
        translator=str.maketrans('','',string.punctuation)
        text_punct=word.translate(translator)
        return text_punct
    result=remove_punctuation(text_lower) #storing the resulting body of  text in variable result

    #removing stopwords 
    def remove_stopwords(word):#The function will   tokenize the result and then filter off  the stop_words 
        stop_words=set(stopwords.words("english")) 
        word_tokens= word_tokenize(word)
        result=[ word for word in word_tokens if word not in stop_words ]
        return result
    lyrics=[remove_stopwords(result)]
    #replacing the values of the lyrics column in the dataframe with the  preprocessed  lyrics
    m.iat[i,1]=lyrics

In [76]:
bast=pd.read_csv('/content/Blyrics.csv',header=None)
bast.head()

                         0                                                  1
0            Another Place  [['I', 'am', 'bound', 'to', 'you', 'with', 'a'...
1            These Streets  [['These', 'streets', 'are', 'yours', ',', 'yo...
2  Weight of Living, Pt. 2  [['The', 'weight', 'of', 'living', 'The', 'wei...
3                Overjoyed  [['Oh', 'I', 'feel', 'overjoyed', 'When', 'you...
4                 Get Home  [['How', 'am', 'I', 'gon', 'na', 'get', 'mysel...

In [77]:
#preprocessing all the songs
for i in range(0,20):
    song=bast.iloc[i,1]
    text=re.sub(r'\d+','',song)#removing numbers
    #lowercasing
    text_lower=text.lower()

    #punctuation removal 
    def  remove_punctuation(word): #function will take in the lowercased text and then remove all the punctuation
        translator=str.maketrans('','',string.punctuation)
        text_punct=word.translate(translator)
        return text_punct
    result=remove_punctuation(text_lower) #storing the resulting body of  text in variable result

    #removing stopwords 
    def remove_stopwords(word):#The function will   tokenize the result and then filter off  the stop_words 
        stop_words=set(stopwords.words("english")) 
        word_tokens= word_tokenize(word)
        result=[ word for word in word_tokens if word not in stop_words ]
        return result
    lyrics=[remove_stopwords(result)]
    #replacing the values of the lyrics column in the dataframe with the  preprocessed  lyrics
    bast.iat[i,1]=lyrics

In [78]:
bast.head()

                         0                                                  1
0            Another Place  [[bound, tie, break, night, ca, nt, replace, l...
1            These Streets  [[streets, keep, nt, want, pull, back, surrend...
2  Weight of Living, Pt. 2  [[weight, living, weight, living, weight, livi...
3                Overjoyed  [[oh, feel, overjoyed, listen, words, see, sin...
4                 Get Home  [[gon, na, get, back, home, ayay, ayay, ayay, ...

In [92]:
import csv
rock_songs=pd.concat([cp,xa,one_Re,sp,id,m,bast,jb,fb],ignore_index=True)
rock_songs.to_csv('rock_songs.csv')