<a href="https://colab.research.google.com/github/Gail529/Recommendation-system/blob/master/tfidf_song.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import string

In [ ]:
emo_df=pd.read_csv('/content/emo_new.csv')

In [ ]:
text=emo_df['word'].values
text

In [43]:
song_df=pd.read_csv('/content/rock_songs.csv')
song_df.shape

(180, 3)

In [ ]:
dataset=song_df['1'].values
dataset

In [44]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [45]:
tfidfVectorizer=TfidfVectorizer(use_idf=True)
tfidf=tfidfVectorizer.fit_transform(dataset)
df=pd.DataFrame(tfidf[0].T.todense(),index=tfidfVectorizer.get_feature_names(),columns=["TF-IDF"])
df = df.sort_values('TF-IDF',ascending=False)
print(df.head(100))

           TF-IDF
shine    0.549151
yellow   0.428785
look     0.420890
skin     0.226400
dry      0.158882
...           ...
read     0.000000
reading  0.000000
ready    0.000000
real     0.000000
realest  0.000000

[100 rows x 1 columns]

In [46]:
df.reset_index(inplace=True)
df.rename(columns={"index":"term"},inplace=True)
df

         term    TF-IDF
0       shine  0.549151
1      yellow  0.428785
2        look  0.420890
3        skin  0.226400
4         dry  0.158882
...       ...       ...
3027  foreign  0.000000
3028   forest  0.000000
3029  forever  0.000000
3030   forget  0.000000
3031     zoom  0.000000

[3032 rows x 2 columns]

In [50]:
for t in text:
    tfidf_score=[]
    score_df=df.loc[df['term'] == t,:]
    score=score_df['TF-IDF'].values
    tfidf_score.append(score)

In [51]:
tfidf_score

[array([0.])]